<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<!--STYLE SHEETS-->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/dashboard.css"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/styles.css"
		/>
		<link
			rel="icon"
			href="/images/Google-Noto-Emoji-Animals-Nature-22246-elephant.ico"
		/>
		<title>Big Papi's Document Generation</title>
	</head>
	<body>
		<!-- MODAL -->
		<div
			class="modal fade"
			id="staticBackdrop"
			data-bs-backdrop="static"
			data-bs-keyboard="false"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1
							class="modal-title fs-5"
							id="staticBackdropLabel"
						>
							Document Generator
						</h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						Fill the form with the pertinent information regarding your case.
						Use the buttons below the form to generate the documents you need.
						Any missing information will be alerted and highlighted in red.
						Generating the document will also allow you to print the page to
						Adobe PDF with the naming convention pre-filled for you.
						Additionally, if you need more birth certificates or ARI's etc, you
						can change the information and click the button for the document you
						need to re-render the inforamtion.
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal"
						>
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row flex-nowrap">
				<div
					class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-custom-dark no-print custom-aside"
				>
					<!--ASIDE-->
					<div
						class="d-flex flex-column align-items-center no-print align-items-sm-start px-3 pt-2 min-vh-100"
					>
						<a
							class="d-flex align-items-center pb-3 mb-md-0 me-md-auto header-text-color text-decoration-none"
						>
							<span class="test fs-5 d-none d-sm-inline"
								>You're Doing Fantastic Work, User</span
							>
						</a>
						<ul
							class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
							id="menu"
						>
							<li class="nav-item">
								<a
									href="#"
									data-bs-toggle="modal"
									data-bs-target="#staticBackdrop"
									class="nav-link align-middle px-0 custom-link-color"
									id="instructions-btn"
								>
									<i class="bi bi-list-nested"></i>
									<span class="ms-1 d-none d-sm-inline">Instructions</span>
								</a>
							</li>
							<li>
								<a
									href="#submenu1"
									data-bs-toggle="collapse"
									class="nav-link px-0 align-middle custom-link-color"
								>
									<i class="bi bi-envelope"></i>
									<span class="ms-1 d-none d-sm-inline">Email Templates</span>
								</a>
								<ul
									class="collapse nav flex-column ms-1"
									id="submenu1"
									data-bs-parent="#menu"
								>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="24-hour"
											><i class="bi bi-exclamation-triangle-fill"></i>
											<span class="d-none d-sm-inline"
												>Case Submission Notice</span
											>
										</a>
									</li>
									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="request-review"
											><i class="bi bi-search"></i>
											<span class="d-none d-sm-inline"
												>Request Internal Review</span
											>
										</a>
									</li>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="time-off"
											><i class="bi bi-emoji-sunglasses"></i>
											<span class="d-none d-sm-inline">Request Time Off</span>
										</a>
									</li>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="email-david"
											><i class="bi bi-music-note-list"></i>
											<span class="d-none d-sm-inline">Email David</span>
										</a>
									</li>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="submit-case"
											><i class="bi bi-send-check"></i>
											<span class="d-none d-sm-inline">Submit Case</span>
										</a>
									</li>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="resign-from-ds"
											><i class="bi bi-emoji-dizzy delete"></i>
											<span class="d-none d-sm-inline delete">Resign</span>
										</a>
									</li>
								</ul>
							</li>

							<li>
								<a
									href="#submenu2"
									data-bs-toggle="collapse"
									class="nav-link px-0 align-middle"
								>
									<i class="bi bi-geo-alt"></i>
									<span class="ms-1 d-none d-sm-inline">Maps</span></a
								>
								<ul
									class="collapse nav flex-column ms-1"
									id="submenu2"
									data-bs-parent="#menu"
								>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="googleearth-btn"
											><i class="bi bi-globe-americas"></i>
											<span class="d-none d-sm-inline">Google Earth</span></a
										>
									</li>
									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="googlemaps-btn"
											><i class="bi bi-signpost-2"></i>
											<span class="d-none d-sm-inline">Google Street View</span>
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a
									href="#submenu3"
									data-bs-toggle="collapse"
									class="nav-link px-0 align-middle"
								>
									<i class="bi bi-stack"></i>
									<span class="ms-1 d-none d-sm-inline">Mock Documents</span>
								</a>
								<ul
									class="collapse nav flex-column ms-1"
									id="submenu3"
									data-bs-parent="#menu"
								>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="bc-btn"
											><i class="bi bi-globe2"></i>
											<span class="d-none d-sm-inline"
												>Birth Certificate</span
											></a
										>
									</li>
									<li class="w-100">
										<a
											href="#"
											class="nav-link px-0"
											id="go-button"
											><i class="bi bi-people"></i>
											<span class="d-none d-sm-inline"
												>Public Records Check</span
											></a
										>
									</li>
									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="foreign-id"
											><i class="bi bi-person-vcard"></i>
											<span class="d-none d-sm-inline"
												>Foreign Passport</span
											></a
										>
									</li>
									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="fingerprints"
											><i class="bi bi-fingerprint"></i>
											<span class="d-none d-sm-inline">FP Appt</span></a
										>
									</li>
									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="fingerprint-confirm"
											><i class="bi bi-check-circle"></i>
											<span class="d-none d-sm-inline">FP Confirmation</span></a
										>
									</li>
									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="lopc"
											><i class="bi bi-calendar-event"></i>
											<span class="d-none d-sm-inline">LOPC</span></a
										>
									</li>
									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="poa"
											><i class="bi bi-geo"></i>
											<span class="d-none d-sm-inline"
												>Proof of Address</span
											></a
										>
									</li>

									<li>
										<a
											href="#"
											class="nav-link px-0"
											id="lod-btn"
											><i class="bi bi-postcard-heart"></i>
											<span class="d-none d-sm-inline"
												>Letter of Designation</span
											></a
										>
									</li>
								</ul>
							</li>
							<li>
								<a
									href="#"
									class="nav-link px-0 align-middle"
									id="fra-btn"
								>
									<i class="bi bi-filetype-pdf"></i>
									<span class="ms-1 d-none d-sm-inline">FRA</span></a
								>
							</li>
							<li>
								<a
									href="#"
									class="nav-link px-0 align-middle"
									id="ari-btn"
								>
									<i class="bi bi-filetype-pdf"></i>
									<span class="ms-1 d-none d-sm-inline">ARI</span></a
								>
							</li>

							<li>
								<a
									href="#"
									class="nav-link px-0 save"
									id="save-child-btn"
									><i class="bi bi-floppy save"></i>
									<span class="d-none d-sm-inline save">Save Child</span></a
								>
							</li>

							<li>
								<a
									href="#"
									class="nav-link px-0"
									id="dummy-btn"
									><i class="bi bi-ui-checks dummy-color"></i>
									<span class="d-none d-sm-inline dummy-color"
										>Dummy Data</span
									></a
								>
							</li>
							<li>
								<a
									href="#"
									class="nav-link px-0"
									id="clear-btn"
									><i class="bi bi-file-x-fill clear-btn"></i>
									<span class="d-none d-sm-inline clear-btn"
										>Clear Form</span
									></a
								>
							</li>
							<li>
								<a
									href="#"
									class="nav-link px-0"
									id="delete-child-btn"
									><i class="bi bi-trash delete"></i>
									<span class="d-none d-sm-inline delete">Delete Child</span></a
								>
							</li>
						</ul>
						<hr />
						<!--USER DROP DOWN THING -->
						<!-- <div class="dropdown pb-4">
							<a
								href="#"
								class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								<img
									src="https://github.com/mdo.png"
									alt="hugenerd"
									width="30"
									height="30"
									class="rounded-circle"
								/>

								<span class="d-none d-sm-inline mx-1">User</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
								<li>
									<a
										class="dropdown-item"
										href="#"
										>New project...</a
									>
								</li>
								<li>
									<a
										class="dropdown-item"
										href="#"
										>Settings</a
									>
								</li>
								<li>
									<a
										class="dropdown-item"
										href="#"
										>Profile</a
									>
								</li>
								<li>
									<hr class="dropdown-divider" />
								</li>
								<li>
									<a
										class="dropdown-item"
										href="#"
										>Sign out</a
									>
								</li>
							</ul>
						</div> -->
					</div>
				</div>
				<div class="col py-3 main">
					<!--MAIN-->
					<!--EMAIL INPUTS-->
					<div class="email-chain">
						<div class="email-title"></div>
						<div class="no-print">
							<div class="staff no-print d-flex justify-content-around">
								<div class="form-floating no-print mb-3">
									<input
										type="text"
										class="form-control no-print lopc time-off"
										id="case-manager"
										placeholder="Case Manager"
									/>
									<label for="case-manager">Case Manager</label>
								</div>
								<div class="form-floating mb-3">
									<input
										type="text"
										class="form-control no-print submit time-off notice"
										id="lead-email"
										placeholder="Lead Email"
									/>
									<label
										class="no-print"
										for="lead-email"
										>Lead Email</label
									>
								</div>
								<div class="form-floating mb-3">
									<input
										type="text"
										class="form-control no-print submit notice"
										id="buddy"
										placeholder="Buddy Email"
									/>
									<label
										class="no-print"
										for="buddy"
										>Buddy Email</label
									>
								</div>
								<div class="form-floating mb-3">
									<input
										type="text"
										class="form-control no-print submit notice"
										id="clinician"
										placeholder="Clinician Email"
									/>
									<label
										class="no-print"
										for="clinician"
										>Clinician Email</label
									>
								</div>

								<button
									class="btn d-flex no-print align-items-center save-user-button"
									type="button"
									id="save-emails"
									style="
										display: flex;
										height: 2.5rem;
										justify-content: center;
										align-items: center;
									"
								>
									Save User
								</button>
							</div>
							<!-- CATEGORY RADIO BUTTONS-->
							<div
								class="no-print radio-buttons w-full d-flex justify-content-around p-4"
							>
								<div class="form-check justify-content-center">
									<input
										class="form-check-input"
										type="radio"
										name="flexRadioDefault"
										data-category="CAT1EXP"
										data-cats
										id="flexRadioDefault1"
									/>
									<label
										class="form-check-label"
										for="flexRadioDefault1"
									>
										CAT 1 Expedited
									</label>
								</div>
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="flexRadioDefault"
										id="flexRadioDefault2"
										data-cats
										data-category="CAT1"
									/>
									<label
										class="form-check-label"
										for="flexRadioDefault2"
									>
										CAT 1
									</label>
								</div>
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="flexRadioDefault"
										id="flexRadioDefault2"
										data-cats
										data-category="CAT2A"
									/>
									<label
										class="form-check-label"
										for="flexRadioDefault2"
									>
										CAT 2A
									</label>
								</div>
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="flexRadioDefault"
										id="flexRadioDefault2"
										data-cats
										data-category="CAT2B"
									/>
									<label
										class="form-check-label"
										for="flexRadioDefault2"
									>
										CAT2B
									</label>
								</div>
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="flexRadioDefault"
										id="flexRadioDefault2"
										data-cats
										data-category="CAT3"
									/>
									<label
										class="form-check-label"
										for="flexRadioDefault2"
									>
										CAT 3
									</label>
								</div>
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="flexRadioDefault"
										id="flexRadioDefault2"
										data-cats
										data-category="CAT3UN"
									/>
									<label
										class="form-check-label"
										for="flexRadioDefault2"
									>
										CAT 3 Unrelated
									</label>
								</div>
							</div>
							<!-- RELEASE TYPE RADIO BUTTONS-->
							<div
								class="radio-buttons w-full d-flex justify-content-around p-4"
							>
								<div class="form-check justify-content-center">
									<input
										class="form-check-input release"
										type="radio"
										name="release"
										data-release="SR"
										id="release1"
									/>
									<label
										class="form-check-label"
										for="release1"
									>
										Straight Release
									</label>
								</div>
								<div class="form-check">
									<input
										class="form-check-input release"
										type="radio"
										name="release"
										data-release="PRS"
										id="release2"
									/>
									<label
										class="form-check-label"
										for="release2"
									>
										PRS
									</label>
								</div>
							</div>
							<!--FIELD GUIDANCE 11 CHECK BOX-->
							<div
								class="form-check mt-4 mb-4 hidden"
								id="fg-11-form"
							>
								<input
									class="form-check-input"
									type="checkbox"
									id="field-guidance-11"
								/>
								<label
									class="form-check-label"
									for="field-guidance-11"
								>
									Field Guidance #11
								</label>
							</div>
						</div>
						<!--DOCUMENT GENERATION INPUTS-->
						<div class="no-print">
							<div class="row">
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control notice rr rr-expedited submit lopc fp fp-appt poa bgc foreign-id bc lod fra ari"
											id="a-number"
											placeholder="A Number"
										/>
										<label for="a-number">A-Number</label>
									</div>

									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited lopc poa fp fp-appt bgc foreign-id lod fra ari"
											id="first-name"
											placeholder="Sponsor First Name"
										/>
										<label for="first-name">Sponsor First Name</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited lopc fp fp-appt poa bgc foreign-id lod fra ari"
											id="last-name"
											placeholder="Sponsor Last Name "
										/>
										<label for="last-name">Sponsor Last Name</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr-expedited rr bgc foreign-id fra ari"
											id="dob"
											placeholder="Sponsor DOB"
										/>
										<label for="dob">Sponsor DOB</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr-expedited rr foreign-id"
											id="sponsor-gender"
											placeholder="Sponsor's Gender"
										/>
										<label for="sponsor-gender">Sponsor's Gender</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr-expedited rr submit lopc fra ari"
											id="relationship"
											placeholder="Relationship"
										/>
										<label for="relationship">Relationship</label>
									</div>
								</div>

								<style>
									.btn {
										border: 1px solid black;
									}
									.btn:hover {
										background-color: rgb(187, 228, 243);
									}
								</style>

								<div class="col-sm">
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control notice rr rr-expedited submit lopc bc lod fra"
											id="child-name"
											placeholder="Child Name"
										/>
										<label for="child-name">Child Name</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited bc lod"
											id="mother-name"
											placeholder="Child's Mother's Name"
										/>
										<label for="mother-name">Mother's Name</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control lopc rr poa lod fra ari smarty"
											id="address"
											placeholder="Address"
										/>
										<label for="address">Address</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited submit lopc poa lod fra ari smarty"
											id="city"
											placeholder="City"
										/>
										<label for="city">City</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited submit lopc poa bgc lod fra ari smarty"
											id="state"
											placeholder="State"
										/>
										<label for="state">State</label>
									</div>

									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr lopc poa lod fra ari smarty"
											id="zip"
											placeholder="Zip"
										/>
										<label for="zip">Zip</label>
									</div>
								</div>
								<div class="col-sm">
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited bc lod"
											id="child-dob"
											placeholder="Child DOB"
										/>
										<label for="child-dob">Child DOB</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited bc lod"
											id="father-name"
											placeholder="Child's Father's Name"
										/>
										<label for="father-name">Father's Name</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited bc lod fra ari foreign-id"
											id="coo"
											placeholder="Country of Origin"
										/>
										<label for="coo">Country of Origin</label>
									</div>
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control lopc poa fra ari"
											id="phone"
											placeholder="Phone"
										/>
										<label for="phone">Phone</label>
									</div>

									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr bgc"
											id="background-check-results"
											placeholder="Results"
										/>
										<label for="background-check-results">Results</label>
									</div>

									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control rr rr-expedited lopc fra ari"
											id="child-gender"
											placeholder="Child's Gender"
										/>
										<label for="child-gender">Child's Gender</label>
									</div>
								</div>
							</div>
						</div>
						<div
							id="page-body"
							class="document-body"
						></div>
						<!-- RELEASE REQUEST TITLE HELPER THING-->
						<div class="heading-wrapper no-print">
							<h3 class="d-flex justify-content-center w-full no-print">
								Release Request Helper
							</h3>
							<h5 class="d-flex justify-content-center w-full no-print">
								(select a category at the top)
							</h5>
						</div>

						<div class="release-request-inputs no-print"></div>

						<div class="d-flex justify-content-center release-request no-print">
							<div
								class="p-4 m-4"
								id="release-request-prompts"
							>
								<!--EXPEDITED INPUTS-->
								<div
									class="hidden"
									id="cat-1-inputs"
								>
									<!-- <div
										class="m-2 p-2 button-container d-flex justify-content-center w-full"
									>
										<button
											class="btn mt-3 dummy"
											type="button"
											id="expedited-dummy-btn"
										>
											Populate Dummy Data
										</button>
									</div> -->
									<div class="row">
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													placeholder="UC Assessment"
													type="text"
													class="form-control rr-expedited"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
													id="uc-expedited"
												/>
											</div>
										</div>
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="expedited-fra"
													placeholder="FRA"
													type="text"
													class="form-control rr-expedited"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="expedited-sponsor-assessment"
													placeholder="Sponsor Assessment"
													type="text"
													class="form-control rr-expedited"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="expedited-verbal"
													placeholder="Verbal Attestation"
													type="text"
													class="form-control rr-expedited"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="expedited-medical"
													placeholder="Medically Clear"
													type="text"
													class="form-control rr-expedited"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>
										<div class="form-group p-2 mb-4">
											<label for="birth-certificates"
												>List Birth Certificates</label
											>
											<textarea
												class="form-control rr-expedited"
												id="expedited-birth-certificates"
												rows="2"
											></textarea>
										</div>
									</div>
								</div>
								<!--NON EXPEDITED INPUTS-->
								<div
									class="hidden"
									id="non-expedited-inputs"
								>
									<!-- <div
										class="m-2 p-2 button-container d-flex justify-content-center w-full"
									>
										<button
											class="btn mt-3 dummy"
											type="button"
											id="non-expedited-dummy-btn"
										>
											Populate Dummy Data
										</button>
									</div> -->
									<div class="row">
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="admitted"
													placeholder="Date Admitted"
													type="text"
													class="form-control rr"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="poa-received"
													placeholder="POA Received"
													type="text"
													class="form-control rr"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="lod-received"
													placeholder="LOD received"
													type="text"
													class="form-control rr"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>
										<div class="col-sm">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span
														class="input-group-text today"
														id="inputGroup-sizing-default"
														>Today</span
													>
												</div>
												<input
													id="lopc-complete"
													placeholder="LOPC Completed"
													type="text"
													class="form-control rr"
													aria-label="Default"
													aria-describedby="inputGroup-sizing-default"
												/>
											</div>
										</div>

										<div class="row">
											<div class="col-sm">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span
															class="input-group-text today"
															id="inputGroup-sizing-default"
															>Today</span
														>
													</div>
													<input
														id="handbook-read"
														placeholder="Handbook Read"
														type="text"
														class="form-control rr"
														aria-label="Default"
														aria-describedby="inputGroup-sizing-default"
													/>
												</div>
											</div>
											<div class="col-sm">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span
															class="input-group-text today"
															id="inputGroup-sizing-default"
															>Today</span
														>
													</div>
													<input
														id="sponsor-background"
														placeholder="Sponsor Background"
														type="text"
														class="form-control rr"
														aria-label="Default"
														aria-describedby="inputGroup-sizing-default"
													/>
												</div>
											</div>
											<div class="col-sm">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span
															class="input-group-text today"
															id="inputGroup-sizing-default"
															>Today</span
														>
													</div>
													<input
														id="medically-clear"
														placeholder="Medically Clear"
														type="text"
														class="form-control rr"
														aria-label="Default"
														aria-describedby="inputGroup-sizing-default"
													/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="form-floating mb-3">
													<input
														type="text"
														class="form-control rr"
														id="acg-name"
														placeholder="ACG Name"
													/>
													<label for="acg-name">ACG Name</label>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-floating mb-3">
													<input
														type="text"
														class="form-control rr"
														id="coo-caregiver"
														placeholder="COO Caregiver"
													/>
													<label for="coo-caregiver">COO Caregiver</label>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-floating mb-3">
													<input
														type="text"
														class="form-control rr"
														id="home-size"
														placeholder="Size of Home"
													/>
													<label for="home-size">Size Of Home</label>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-floating mb-3">
													<input
														type="number"
														class="form-control rr"
														id="sponsor-income"
														placeholder="Income"
													/>
													<label for="income">Income</label>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-floating mb-3">
													<input
														type="text"
														class="form-control rr"
														id="offenders"
														placeholder="# Of Offenders"
													/>
													<label for="offenders"># Of Offenders</label>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-floating mb-3 rr">
													<input
														type="text"
														class="form-control rr"
														id="cles"
														placeholder="# Of CLE's"
													/>
													<label for="cles"># Of CLE's</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="form-group">
												<label for="coo-narrative"
													>Home Country Narrative</label
												>
												<textarea
													class="form-control rr"
													id="coo-narrative"
													rows="2"
												></textarea>
											</div>
											<div class="form-group">
												<label for="birth-certificates"
													>List Birth Certificates</label
												>
												<textarea
													class="form-control rr"
													id="birth-certificates"
													rows="2"
												></textarea>
											</div>
											<div class="form-group">
												<label for="cle-narrative">List CLE's (optional)</label>
												<textarea
													class="form-control rr"
													id="cle-narrative"
													rows="2"
												></textarea>
											</div>
											<div class="form-group">
												<label for="release-reason">Reason for Release</label>
												<textarea
													class="form-control rr"
													id="release-reason"
													rows="3"
												></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div
							class="release-request-body"
							id="release-request-body"
						>
							<div class="request-button d-flex justify-content-center w-full">
								<button
									class="btn mt-3 generate-rr no-print"
									type="button"
									id="generate-release-request"
								>
									<i class="bi bi-fire fire"></i>
									Generate Release Request
								</button>
							</div>
							<!--CAT 1 EXPEDITED RELEASE REQUEST BODY-->
							<div
								class="expedited-release m-4 p-4 hidden no-print"
								id="expedited-release-body"
							>
								<p>
									This case is being submitted under ORR Field Guidance #10
									Expedited Release for CAT 1. Child has been screened and
									determined not to be especially vulnerable. This case does not
									meet TVPRA Home Study requirements and as per assessments
									conducted, there were no concerns identified in respect to
									abuse, neglect, and or safety.
								</p>
								<p>
									SPONSOR/CHILD RELATIONSHIP:
									<span class="expedited-sponsor-name"></span> (<span
										id="expedited-sponsor-age"
									></span
									>, <span id="expedited-category"></span> , Verified
									<span class="expedited-relationship"></span>) requests
									sponsorship of <span class="expedited-child-name"></span> (A#
									<span id="expedited-a-number"></span>,
									<span id="expedited-child-gender"></span>,
									<span id="expedited-child-age"></span>).
									<sponsor class="expedited-sponsor-name"></sponsor> currently
									resides in <span id="expedited-sponsor-city"></span>,
									<span id="expedited-sponsor-state"></span>.
								</p>
								<p>
									Case Manager obtained and reviewed child's BC and Sponsor's BC
									to verify the relationship between Sponsor and child as
									<span class="expedited-relationship"></span> to the Child.
								</p>
								<p>
									Sponsor name on MO/FA BC:
									<span class="expedited-sponsor-name"></span>
								</p>
								<p>
									UC name and MO/FA name on UC BC:
									<span class="expedited-child-name"></span>
									(Child), <span id="expedited-mother-name"></span> (Mother),
									<span id="expedited-father-name"></span> (Father)
								</p>
								<p>
									This case is being submitted under ORR Field Guidance #10
									Expedited Release for CAT 1. Child has been screened and
									determined not to be especially vulnerable. This case does not
									meet TVPRA Home Study requirements and as per assessments
									conducted, there were no concerns identified in respect to
									abuse, neglect, and or safety.
								</p>
								<p>The following has been completed:</p>
								<ul>
									<li>
										(1) Completion of Modified UC Assessment for Expedited
										Release Cases (<span id="expedited-uc-completed"></span>).
									</li>
									<li>
										(2) Completion of Interviews with the Child and the Parent
										no concerns identified
									</li>
									<li>
										(3) Completion of a Modified Family Reunification
										Application (<span id="expedited-fra-received"></span>).
									</li>
									<li>
										(4) Establishment of Proof of Relationship and Identity.
										<br />
										<span id="expedited-list-of-bcs"></span>
									</li>
									<li>
										(5) Completion of Sponsor Background Check (no household
										member checks) with sponsor provided verbal attestation
										Authorization for Release of Information. (<span
											id="expedited-bgc"
										></span
										>).
									</li>
									<li>
										(6) Completion of a Modified Sponsor Assessment (
										<span id="expedited-sponsor-assessment-completed"></span>).
									</li>
								</ul>
								<p>
									---- Verbal Attestation was provided by sponsor on
									<span id="expedited-verbal-attestation"></span>.
								</p>
								<p>
									---- MEDICAL: Child is being submitted pending medical
									clearance as of
									<span id="expedited-medical-clearance"> </span>.
								</p>
							</div>
							<!--NON EXPEDITED RELEASE REQUEST BODY-->
							<div
								class="nonexpedited-release m-4 p-4 hidden no-print"
								id="non-expedited-body"
							>
								<p>
									<span class="sponsor-title"></span>
									<span class="rr-sponsor-name"></span>
									<span class="rr-sponsor-age"></span>,
									<span id="rr-category"></span>,
									<span class="rr-sponsor-relationship"></span> requests
									sposnorship of <span class="rr-child-name"></span> A#<span
										class="rr-a-number"
									></span
									>, <span class="rr-child-gender"></span>, age
									<span class="rr-child-age"></span>.
									<span class="sponsor-title"></span>
									<span class="rr-sponsor-last-name"></span>
									currently resides in <span class="rr-city"></span>,
									<span class="rr-state"></span>
									<br />
									<br />
									<span id="rr-coo-narrative"></span>
									<br />
									<br />
									There is no debt owed for the journey.
								</p>

								<p>
									<strong>FRP AND SUPPORTING DOCUMENTS</strong>
									<br />
									<br />
									The case manager received and reviewed
									<span class="sponsor-title"></span>
									<span class="parse-possessive"></span>
									family reunification packet which includes:
								</p>
								<p>
									-- Sponsor ID: Passport with Expiration Date
									<span id="rr-passport-expiration"></span>
									<br />
									-- Household Member ID: ******HOUSE HOLD MEMBER ID******
									<br />
									-- Adult Caregiver ID: ****** ACG ID *******
									<br />
									<br />
									-- Proof of ability to provide housing, food, education: The
									sponsor adequately demonstrated that
									<span class="toggle-he-she"></span> is able to support the
									child financially. The sponsor lives in a
									<span id="rr-home-size"></span>. Sponsor stated
									<span class="toggle-he-she"></span> stays with
									<span class="sponsor-his-her"></span> partner in master
									bedroom, and they share the bathroom there. The child will
									have their own bed to sleep in. Additionally, sponsor stated
									house has all working utilities and a fully functional
									kitchen. The sponsor earns
									<span id="rr-income"></span>
									annually and has verbal commitment from ACG to receive
									additional financial support in caring for the child.
								</p>
								<br />
								<p>
									--Proof of Address: Utility Bill dated
									<span id="rr-poa-issue"></span> sent on
									<span class="rr-poa-received"></span>. Verified through Smarty
									Streets on <span class="rr-poa-received"></span>. Verified
									through Google Maps and Google Earth on
									<span class="rr-poa-received"></span>
									<br />
									--Proof of immigration/citizenship status: Proof of
									immigration status not required, therefore not submitted.
									<br />
									--Letter of Designation: Received on
									<span id="rr-lod-received"></span>
									<br />
									--LOPC Packet sent on: <span id="rr-lopc-received"></span>
									<br />
									--Sponsor Handbook: Sponsor confirmed reading Sponsor Handbook
									on
									<span id="rr-handbook-read"></span>
								</p>
								<p>
									Criminal:
									<br />
									--As of <span class="rr-sponsor-bacgkround"></span> for
									<span class="rr-sponsor-name"></span>
									<br />
									--Public Records Check: Clear
									<br />
									--Sex offender Check: Clear
									<br />
									--Fingerprints: <span id="rr-fingerprint-conditions"></span>
									<br />
									<br />
									--As of <span class="rr-sponsor-bacgkround"></span> for
									<span class="rr-acg-name"></span>:
									<span class="rr-field-guidance-11"> </span>
									<br /><br />
									--As of <span class="rr-sponsor-bacgkround"></span> for ***HHM
									NAME ****:
									<span class="rr-field-guidance-11"> </span>
								</p>
								<p>
									--Self Disclosure: The case manager asked the sponsor if
									<span class="toggle-he-she"></span> has any criminal
									background. Sponsor Responded: No
									<br />
									<br />
									SEX OFFENDER ADDRESS SEARCH
									<br />
									<br />
									--On <span class="rr-sponsor-bacgkround"></span>, case manager
									conducted a National Sex Offender check for sponsor’s address,
									<span class="rr-sponsor-address"></span>
									<span class="rr-city"></span>, <span class="rr-state"></span>
									<span class="rr-zip-code"></span>, and found
									<span id="rr-offenders"></span> registered sex offenders
									registered. Case Manager reviewed registries and none of the
									profiles matched sponsor’s address nor sponsor or ACG/HHM
									identities. Case Manager educated sponsor and Child regarding
									sex offenders registered in their neighborhood. Additionally,
									Case Manager educated the Sponsor and Child regarding
									<span class="rr-child-his-her"></span> safety, to always be
									vigilant when playing outside or walking in the neighborhood,
									and the dangers of speaking with strangers
								</p>
								<p>
									CLE'S
									<br />
									--As of <span class="rr-today"></span>, the child has
									<span id="rr-cle-number"></span> CLE's on file
									<br />
									<br />
									<span id="rr-cle-narrative"></span>
									<br />
								</p>
								<p>
									BIRTH CERTIFICATES: All birth certificates needed to prove the
									sponsor-child relationship were received on
									<span class="rr-date-admitted"></span>. Sponsor is confirmed
									to be the child's
									<span class="rr-sponsor-relationship"></span>. Birth
									Certificates received are:
									<span class="rr-list-of-bcs"></span>
									<br />
									<br />
									CHILD: <span class="rr-child-name"></span> DOB:
									<span id="rr-child-dob"></span> MOTHER:
									<span id="rr-mother-name"></span> FATHER:
									<span id="rr-father-name"></span>
									<br />
								</p>
								<p>
									PRIOR SPONSORSHIP
									<br />
									Verified on <span class="rr-date-admitted"></span> that the
									sponsor did not previously sponsor or attempt to sponsor a
									child.
									<br />
									Verified on <span class="rr-date-admitted"></span> that the
									ACG/HHM did not previously sponsor or attempt to sponsor a
									child.
								</p>
								<p>
									PRIOR ADDRESS
									<br />
									CONTACT WITH PRIMARY CAREGIVER IN COO: Spoke with
									<span class="rr-caregiver-name"></span> on
									<span class="rr-date-admitted"></span>.
									<span class="rr-caregiver-name"></span> was able to verify
									information provided by the child and the sponsor.
								</p>
								<p>
									SPONSOR RESOURCES:
									<br />
									<br />
									The following emergency contact information was provided to
									the sponsor: 911, ORR Parent and Sponsor Hotline, information
									regarding health care and vaccinations, Department of Family
									and Protective Services (<span class="rr-state"></span>), and
									National Human Trafficking Resource Center.
								</p>
								<p>
									MEDICAL CLEARANCE:
									<br />
									--As of <span id="rr-medically-clear"></span> , Child is
									medically clear for travel.
								</p>
								<p>
									RELEASE RECOMMENDATION: The sponsor is recommending
									<span id="rr-category-unabbreviated"></span> to the sponsor.
									<span id="rr-release-reason"></span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
		<script src="/javascripts/script.js"></script>
	</body>
</html>
