@media print {
	.no-print {
		display: none;
	}
}

.missing {
	border-color: red;
}

#clear-btn {
	background-color: rgb(6, 31, 255);
}

#dummy-btn {
	background-color: rgb(239, 0, 199);
}
#save-child-btn {
	background-color: rgb(21, 254, 0);
}
#save-emails {
	background-color: rgb(21, 254, 0);
}
#delete-child-btn {
	background-color: red;
	color: white;
}
#resign-from-ds {
	background-color: rgb(255, 0, 0);
	color: white;
}

.hidden {
	display: none;
}
.dummy {
	background-color: rgb(239, 0, 199);
	color: white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
